/* background images start */
.body1 {
    background-image: url('celticswallpaper.jpg');
   }
   .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  /* background images end */

  /* navbar start */
  .navbutton {
    background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  }
  .navtext {
    color: #007A33 ;
    font-family: 'Moul'; 
    font-size: 36px;
  }
  .navsec {
      background-color: white ;
     border:2px solid #007A33;
     padding: 32px 8px;
  }
  .glow {
    background-color: #BA9653;
  }
  .hoverglow:hover {
    background-color: #963821;
  }
  /* navbar end */

  /* index start */
  .indextext1 {
    color: #007A33;
    font-size: 200%;
    background-color: white;
    border-color: #BA9653;
    border-radius: 10px;
    padding: 2%;
    margin: 5%;
    text-align: left;
    font-family: 'Moulpali'; 
  }

  .indextext2 {
    color: #007A33;
    font-size: 220%;
    background-color: white;
    border-color: #BA9653;
    border-radius: 10px;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    text-align: center;
    font-family: 'Moulpali'; 
  }

  .biglogo {
    margin: 5%;
  }

  .roster {
    word-break: break-all;
    color: #007A33;
    font-size: 150%;
    background-color: white;
    border-color: #BA9653;
    border-radius: 10px;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Moulpali'; 
  }

  .innerlist {
    list-style-position: inside;
        padding: 0;

  }
  /* index end */



 /* playoffs start */
 .standings {
  word-break: break-all;
  color: black;
  font-size: 150%;
  background-color: white;
  border-color: #BA9653;
  border-radius: 10px;
  padding: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  text-align: center;
  font-family: 'Moulpali'; 
 }

 .indextext3 {
  color: black;
  font-size: 220%;
  background-color: white;
  border-color: #BA9653;
  border-radius: 10px;
  padding: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  text-align: center;
  font-family: 'Moulpali'; 

  
}

.biglogo2 {
  margin: 5%;
  padding-top: 5% ;
}

.indextext4 {
  color: #007A33;
  font-size: 150%;
  background-color: white;
  border-color: #BA9653;
  border-radius: 10px;
  padding: 2%;
  margin: 5%;
  text-align: left;
  font-family: 'Moulpali'; 
}
 /* playoffs end */



  /* celtics 8 ball code start */
  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    color: #000;
}

h1 {
    margin-bottom: 20px;
    font-size: 30px;
}
.pone {
    font-size: 18px;
    color: black;
    text-align: center;
    background-color: white;
}

.magic-8-ball {
    position: relative;
}

.window {
    width: 600px;  
    height: 600px; 
    background-color: #222;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2.4em; 
    position: relative;
}

.white-section {
    width: 240px; 
    height: 240px; 
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.window:before {
    content: '';
    display: block;
    width: 300px; 
    height: 300px; 
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; 
}

.window:after {
    content: '';
    font-size: 6em; 
    z-index: 1; 
}

.message {
    color: black;
    font-size: 30px; 
    padding: 10px;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#questionInput {
    margin-top: 10px;
    padding: 10px;
    width: 200px;
    box-sizing: border-box;
    font-size: 1em;
}

.shake-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s;
}

.shake-button:hover {
    background-color: #0056b3;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
}

.shake-animation {
    animation: shake 0.5s ease-in-out;
}

.deciding {
    background-color: rgba(75, 0, 130, 0.8); 
}
  /* celtics 8 ball code end */
